/***** BASE STYLES *****/
body: {
font-family: 'Montserrat', sans-serif;
color: #ffffff; 
}

h2 {
    font-family: 'Source Code Pro', monospace; 
    color:#fa0075;
    text-align:center; 
    text-transform: lowercase;
}

/***** GRID ******/

.full-width {
    width:1400px;
    margin:0 auto;
}

.half-width {
    width: 600px;
    float: left;
   
}

.third-width {
    width: 400px; 
    float: left;
    
}

/***** HEADER *****/

header {
    height:800px;
    background: url('../img/hero-image.png');
    background-size: cover; 
    background-color:#1f202b;
}

header h1 {
    text-transform: lowercase; 
    font-size: 30px;
    color: #ffffff;
    padding: 25px 0; 
    width: 550px;
}

nav {

    float: right;
    padding: 25px 0;
   
}

nav ul li {
    display: inline-block;
     
}

nav ul li a {
    text-transform: lowercase;
    text-decoration: none; 
    font-size: 30px;
    color: #ffffff;
    padding-left:45px;  
    

}

header h2 {
    width: 650px;
    clear: both;
    font-family: 'Source Code Pro', monospace; 
    font-size: 72px;
    line-height: 100px;
    text-align: left; 
    color: #ffffff;
    padding: 200px 0;
}

header h2 span {
    color: #00ccff;
}

/***** PORTFOLIO *****/
#portfolio {
    height: 700px; 
    color: #737373;
    margin: 0 auto; 
}

#portfolio img {
   border: 10px; 
   border-color:#b7b7b7;
   float: left;
   
   padding: 15px 75px 55px 100px;
   width: 400px;  
   
}


#portfolio h3 h4 p {
    width: 225px;
    height: 350px; 
    padding: 25px 0px; 
    margin: 100px 50px; 
   display: inline; 
    
}

#portfolio .third-width{ 
    width:400px; 
    font-size: 16px; 
    padding-left: 150px; 
    float: left;
    display: inline;
    
}

/***** ABOUT *****/

#about {
    height: 550px;
    background: url('../img/about-me.png');
    margin: 0 auto; 
}

#about h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
 
}

#about p {
    font-family: 'Montserrat', sans-serif;
    word-spacing: 3px; 
    line-height: 20px; 
    padding: 10px 70px 15px 0; 
}

/***** CONTACT *****/
#contact {
    height:350px; 
}

#contact .third-width{

    font-family: 'Montserrat', sans-serif;
    color: #333333;
    text-align: center; 
    width:400px;
    float:left; 
    padding: 65px 0 0 55px; 
    
    

}
#contact ul li {
   float: left;
   list-style: none;
   display: inline; 
   padding-left: 35px; 
}

